---
import Seo from "@/components/Seo.astro";
import Layout from "@/components/Layout.astro";
import RepairOptions from "@/components/sections/RepairOptions.astro";
import Video from "@/components/Video.astro";
import Hero from "@/components/Hero.astro";

import repairs from "@/data/repairs.json";
import data from "@/data/main.json";

// Generar las rutas dinámicas
export async function getStaticPaths() {
  let paths = [];

  data.options.forEach((category) => {
    category.options.forEach((repair) => {
      paths.push({
        params: { category: category.key, slug: repair.key },
      });
    });
  });

  return paths; // Se devuelve el array directamente
}

const { category, slug } = Astro.params;
const { title, subtitle, description, buttonText } = data.options
  .find((option) => option.key === category)
  .options.find((option) => option.key === slug);
---

<Seo title={title} description={description} />

<Layout>
  <Hero>
    <div class="row">
      <!-- Columna izquierda -->
      <div
        class="col-md-7 d-flex flex-column align-items-center justify-content-center"
      >
        <div class="text-center text-white">
          <h1 class="display-3 text-white mb-3" data-aos="zoom-in">
            {title}
          </h1>
          <p
            class="text-white mb-4 pb-2"
            data-aos="zoom-in"
            data-aos-delay="200"
          >
            {subtitle}
          </p>

          <!-- Botón izquierdo (solo en tablet/laptop) -->
          <a
            class="btn btn-primary btn-lg mt-2 d-none d-md-block"
            href="#"
            role="button"
          >
            {buttonText}
            <i class="fas fa-arrow-right ms-2"></i>
          </a>
        </div>
      </div>

      <!-- Columna derecha -->
      <div
        class="col-md-5 d-flex flex-column align-items-center justify-content-center p-2"
      >
        <div class="lc-block text-center w-100">
          <div class="video-container">
            <Video />
          </div>

          <!-- Botón derecho (solo en teléfonos) -->
          <a
            class="btn btn-primary btn-lg mt-4 d-md-none"
            href="#"
            role="button"
          >
            {buttonText}
            <i class="fas fa-arrow-right ms-2"></i>
          </a>
        </div>
      </div>
    </div>
  </Hero>
</Layout>
