---
import Layout from "@/components/Layout.astro";
import Hero from "@/components/Hero.astro";
import data from "@/data";

// Generar las rutas dinámicas
export async function getStaticPaths() {
  const categories = data.main.repairsByCategory; // Usamos repairsByCategory en lugar de options
  return categories.map((category) => ({
    params: { category: category.categoryId }, // Usamos categoryId para la ruta
  }));
}

const { repairsByCategory } = data.main; // Accedemos a repairsByCategory
const { category } = Astro.params;
const categoryData = repairsByCategory.find(
  (cat) => cat.categoryId === category,
); // Buscamos la categoría por categoryId
const { title, subtitle, repairs } = categoryData || {}; // Accedemos a los datos de la categoría y reparaciones
---

<Layout
  sections={["aboutrepairs", "calltoaction"]}
  seoData={{ title: title, description: subtitle }}
>
  <Hero title={title} content={subtitle}>
    {
      repairs?.map((repair) => (
        <a
          data-aos="zoom-in"
          data-aos-offset="0"
          class="m-2 btn btn-primary align-items-center px-4"
          href={`/reparar/${category}/${repair.repairsId}`}
          Usamos
          repairsId
          para
          la
          ruta
          key={repair.repairsId}
          Añadido
          para
          evitar
          problemas
          de
          duplicados
        >
          <span class="text-start">{repair.title}</span>
          <i class="fas fa-arrow-right ms-2" />
        </a>
      ))
    }
  </Hero>
</Layout>
