---
import Layout from "@/components/Layout.astro";
import Hero from "@/components/Hero.astro";
import data from "@/data";

// Generar las rutas dinámicas
export async function getStaticPaths() {
  const categories = data.main.options;
  return categories.map((c) => ({
    params: { category: c.key, title: c.key }, // Asegúrate de pasar 'category' como un objeto
  }));
}

const { options: categories } = data.main;
const { category } = Astro.params;
const { title, subtitle, options } =
  categories.find((option) => option.key === category) || {};
---

<Layout
  sections={["topreparations", "aboutrepairs", "calltoaction"]}
  seoData={{ title: title, description: subtitle }}
>
  <Hero title={title} content={subtitle}>
    {
      options.map((repair) => (
        <a
          class="m-2 btn btn-primary align-items-center px-4"
          href={`/reparar/${category}/${repair.key}`}
        >
          <span class="text-start">{repair.title}</span>
          <i class="fas fa-arrow-right ms-2" />
        </a>
      ))
    }
  </Hero>
</Layout>
