---
import {
  sectionTitle,
  title,
  description,
  counterData,
  butonnText,
  msgText,
} from "@/data/about.json";

import { Image } from "astro:assets";
import SectionTitle from "@/components/SectionTitle.astro";
import ButtonWsp from "@/components/ButtonWsp.astro";
---

<div class="pb-5 pb-md-0">
  <div class="container align-items-center">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <Image
          class="img-fluid rounded w-100"
          src="/svg/mobile.svg"
          alt="descriptive text"
          width="200"
          height="150"
        />
      </div>
      <div class="col-lg-6">
        <SectionTitle sectionTitle={sectionTitle} title={title} />

        <p class="mb-4">
          {description}
        </p>

        <div class="row">
          {
            counterData.map((item, index) => (
              <div class="col-6 mb-5" key={index}>
                <div class="d-flex align-items-center border-start border-5 border-primary px-2">
                  <h1 class="display-5 text-primary mb-0" data-aos="zoom-in">
                    {item.value}
                  </h1>
                  <div class="ps-2">
                    <p class="mb-0">{item.label_1}</p>
                    <h6 class="text-uppercase mb-0">{item.label_2}</h6>
                  </div>
                </div>
              </div>
            ))
          }
        </div>
        <div class="text-center">
          <ButtonWsp msgText={msgText}>
            {butonnText}<i class="fab fa-whatsapp ms-2"></i>
          </ButtonWsp>
        </div>
      </div>
    </div>
  </div>
</div>
