---
import data from "@/data";
const { services } = data.services;

import SectionTitle from "@/components/SectionTitle.astro";
import ButtonWsp from "@/components/ButtonWsp.astro";
---

<div class="bg-light py-5">
  <div class="container">
    <SectionTitle sectionTitle={"Servicios"} title={"Nuestros Servicios"} />
    <div class="row g-4 mt-3">
      {
        services.map((option) => (
          <div class="col-lg-4 col-sm-6" data-aos="fade-up">
            <div
              class="card rounded shadow-sm p-3 d-flex flex-column"
              style="height: 100%;"
            >
              <div class="flex-grow-1 mb-2">
                <div class="d-flex">
                  <div class="bg-primary p-3 me-3 rounded-circle shadow'">
                    <i
                      class={`m-0 p-0 ${option.icon} text-light`}
                      style="font-size: 1.5rem;"
                    />
                  </div>
                  <h5 class="my-auto fw-semibold">{option.title}</h5>
                </div>
                <p class="mt-3">{option.shortDescription}</p>
              </div>
              <div class="text-center d-none">
                <ButtonWsp msgText={option.msgText}>
                  {option.buttonText} <i class="fas fa-arrow-right ms-2" />
                </ButtonWsp>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</div>
