---
import {
  testimonials,
  sectionTitle,
  title,
  subtitle,
} from "@/data/testimonials.json";

import SectionTitle from "@/components/SectionTitle.astro";
---

<!-- Testimonial Start -->
<div class="py-5 bg-light">
  <div class="container">
    <SectionTitle sectionTitle={sectionTitle} title={title} />

    <div class="swiper p-0">
      <div class="swiper-wrapper mb-4">
        <!-- Iterar sobre los testimonios -->
        {
          testimonials.map((testimonial, index) => (
            <div class="swiper-slide">
              <div class={`testimonial-carousel card `}>
                <div class="testimonial-item bg-transparent border rounded p-4">
                  <i class="fa fa-quote-left fa-2x text-primary mb-3" />
                  <p>{testimonial.testimonial}</p>
                  <div class="d-flex align-items-center">
                    <img
                      class="img-fluid flex-shrink-0 rounded-circle"
                      src={testimonial.image}
                      style="width: 50px; height: 50px;"
                    />
                    <div class="ps-3">
                      <h5 class="mb-1">{testimonial.name}</h5>
                      <small>{testimonial.profession}</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          ))
        }
      </div>
      <div class="swiper-pagination d-flex justify-content-center"></div>
    </div>
  </div>
</div>
