---
import data from "@/data/main.json";
const textSection = "Top reparaciones";

let reparations = [];

data.options.forEach((category) => {
  let key = category.key;
  category.options.forEach((reparation) => {
    reparations.push({
      ...reparation,
      link: "reparar/" + key + "/" + reparation.key,
    });
  });
});
---

<style>
  .contenedor {
    display: inline-block;
    max-width: 100%;
  }

  .contenedor img {
    width: auto;
    max-height: 200px;
    aspect-ratio: 16 / 8;
    display: block;
    margin: auto;
  }

  .contenedor span {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    font-size: 17px;
    width: 100%;
  }

  .boton-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px; /* Tamaño del ícono */
    color: white;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;

    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
</style>
<div class="bg-light">
  <div class="container py-4">
    <div class="swiper p-0">
      <div class="text-center mb-3">
        <div class="text-center">
          <h5
            class="d-md-none section-title d-flex align-items-center text-primary fs-6"
          >
            <span>{textSection}</span>
            <span class="flex-grow-1 border-bottom border-muted ms-2"></span>
            <i class="fas fa-arrow-left mx-2"></i><i class="fas fa-arrow-right"
            ></i>
          </h5>
          <h5
            class="d-none d-md-flex section-title align-items-center text-primary fs-6 justify-content-center"
          >
            <span class="border-bottom border-muted" style="width: 100px;"
            ></span>
            <span class="ms-2 me-2">{textSection}</span>
            <span class="border-bottom border-muted" style="width: 100px;"
            ></span>
          </h5>
        </div>
      </div>

      <div class="swiper-wrapper mb-4">
        <!-- Iterar sobre los testimonios -->
        {
          reparations.map((reparation, index) => (
            <div class="swiper-slide">
              <div class="contenedor card shadow-sm">
                <img
                  src={`https://drive.google.com/thumbnail?id=${reparation.driveVideoId}`}
                  alt="Miniatura del video"
                  class="img-fluid rounded"
                  style="cursor: pointer;"
                />
                <span class="rounded-bottom">{reparation.title}</span>
                <a href={reparation.link} class="boton-play">
                  ver video <i class="fas fa-arrow-right ms-2" />
                </a>
              </div>
            </div>
          ))
        }
      </div>
      <div class="swiper-pagination d-flex justify-content-center"></div>
    </div>
  </div>
</div>
