---
import SectionTitle from "@/components/SectionTitle.astro";
import ButtonWsp from "@/components/ButtonWsp.astro";

import data from "@/data";
const { sectionTitle, title, description } = data.ubication;
const { codeArea, workshopsBySection } = data.business;
---

<div class="bg-light py-5" style="overflow: hidden;">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 mb-5 mb-md-0">
         <div data-aos="fade-right">
          <SectionTitle sectionTitle={sectionTitle} title={title} />
        </div>
        <div data-aos="fade-left">
          <p>
            {description}
          </p>
        <div class="text-center">
          
        <ButtonWsp>
          Contacta con nossotros
                      <i class="fab fa-whatsapp ms-1"></i>
        </ButtonWsp>
        </div>
        </div>
      </div>
        
      <div class="col-md-6">
        <ul class="nav nav-tabs ps-3" id="tabsNav">
          {
            workshopsBySection.map((section, index) => {
              const sanitizedId = section.sectionId.replace(/\s+/g, "-");
              return (
                <li class="nav-item text-center" key={section.sectionId}>
                  <a
                    class={`nav-link  fw-medium text-secondary ${index === 0 ? "active" : ""}`}
                    data-bs-toggle="tab"
                    href={`#tab${sanitizedId}`}
                    id={`tabNav${sanitizedId}`}
                  >
                    {section.sectionId}
                  </a>
                </li>
              );
            })
          }.
        </ul>
        <div class="shadow rounded" id="map"></div>
      </div>
    </div>
  </div>
</div>

<!-- Estilos -->
<style>
  #map {
    height: 300px;
  }
</style>
