---
import Seo from "@/components/Seo.astro";
import Layout from "@/components/Layout.astro";
import About from "@/components/sections/About.astro";
import Testimonial from "@/components/sections/Testimonial.astro";
import Hero from "@/components/Hero.astro";
import Ubication from "@/components/sections/Ubication.astro";
import TopReparations from "@/components/sections/TopReparations.astro";

import { title, subtitle, description, options } from "@/data/main.json";
---

<Seo title={title} description={description} />

<Layout>
  <Hero title={title} content={subtitle}>
    {
      options.map((option) => (
        <a class="btn btn-primary px-4 m-2" href={`/reparar/${option.key}`}>
          <i class={option.icon + " me-2"} />
          {option.key.charAt(0).toUpperCase() + option.key.slice(1)}
        </a>
      ))
    }
  </Hero>

  <TopReparations />
  <About />
  <Testimonial />
  <Ubication />
</Layout>
