---
import business from "@/data/business.json";
import data from "@/data"; // Importar faqs.json

const { seoData } = Astro.props;
const { title, description, image = "/logo.jpg", url = "https://tomycell.com" } = seoData;

const { questions } = data.frequentQuestions;

// Verificamos si estamos en la p치gina de servicios o en la p치gina de preguntas frecuentes
const isServicePage = Astro.url.pathname.includes("/reparar");
const isFaqPage = Astro.url.pathname.includes("/preguntas");

// JSON-LD para la p치gina de servicios sin precios
const jsonLd = isServicePage
  ? {
      "@context": "https://schema.org",
      "@type": "Service",
      "serviceType": title,
      "provider": {
        "@type": "Organization",
        "name": "TomyCell",
        "url": url,
        "logo": "https://www.tomycell.com/logo.jpg",
        "contactPoint": {
          "@type": "ContactPoint",
          "telephone": "+" + business.phone,
          "contactType": "Soporte",
          "areaServed": "BO",
          "availableLanguage": "Espa침ol"
        }
      },
      "description": description,
      "image": image,
      "offers": {
        "@type": "Offer",
        "url": `${url}/servicios/reparacion`,
        "eligibleRegion": "BO"
      },
      "additionalType": "https://schema.org/Service",
      "mainEntityOfPage": url
    }
  : isFaqPage
  ? {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      //"mainEntity": questions.map((faq) => ({
       // "@type": "Question",
       // "name": faq.question,
        //"acceptedAnswer": {
         // "@type": "Answer",
         // "text": faq.answer.replace("{{phoneNumber}}", business.phone).replace("{{address}}", `${business.address.streetAddress}, ${business.address.addressLocality}`)
        //}
    //  }))
    }
  : {
      "@context": "https://schema.org",
      "@type": "LocalBusiness",
      "name": "TomyCell",
      "description": description,
      "url": url,
      "image": image,
      "address": {
        "@type": "PostalAddress",
        "streetAddress": business.address.streetAddress,
        "addressLocality": business.address.addressLocality,
        "addressCountry": "BO"
      },
      "telephone": business.phone
    };
---
<head>
  <meta charset="UTF-8" />
  <title>{"TomyCell - " + title}</title>
  <meta name="description" content={description} />
  <meta name="theme-color" content="#060c08">
  
  <!-- Open Graph -->
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={image} />
  <meta property="og:url" content={url} />
  <meta property="og:type" content="website" />

  <!-- Twitter Cards -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
  <meta name="twitter:image" content={image} />
  
  <script type="application/ld+json">{JSON.stringify(jsonLd)}</script>
</head>